<?xml version="1.0"?>
<ruleset name="Sabri Universal Post Composer">
	<description>WordPress coding and security standards for File 22.</description>
	<file>sabri-universal-post-composer.php</file>
	<file>includes</file>
	<file>uninstall.php</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<rule ref="WordPress-Core"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="WordPress-Extra">
		<exclude name="WordPress.PHP.StrictComparisons.LooseComparison"/>
	</rule>
</ruleset>
